html{
    --mainBg: rgb(226, 226, 226);
    --secondaryBg: rgb(246, 246, 246);
    --overlayBg: rgba(255,255,255, 0.5);

    --baseHighlightColor: rgb(255, 170, 1);
    --secondaryHighlightColor: rgb(255, 196, 79);

    --loaderBg: rgba(0,0,0,0);
    --loaderHighlight: var(--baseHighlightColor);

    --navIndicatorHighlight: var(--baseHighlightColor);
    --navBottomLine: rgba(0,0,0,0.1);

    color: rgb(80,80,80);
    --baseFontColor: rgb(80,80,80);
    --fontDark: rgb(80,80,80);

    --notifError: rgb(228, 86, 86);
    --notifSuccess: rgb(81 193 111);
}

html[data-theme="dark"]{
    --mainBg: rgb(28,28,34);
    --secondaryBg:rgb(47, 47, 57);
    --overlayBg: rgba(0, 0, 0, 0.5);
    
    --navBottomLine: rgba(255,255,255,0.1);

    color: rgb(230,230,230);
    --baseFontColor: rgb(230,230,230);
}
  