:root{
    --headerHei:            150px;
    --navhei:               80px;
    --navIndicatorHei:      4px;
    --mainHei:              calc(100vh - 280px);
    --baseFontSize:         1.6rem;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Space Mono';
    background-color: var(--mainBg);
}

body > * {
    font-size: var(--baseFontSize);
}

#notification-bar{
    width: 100vw;
    height: 80px;

    position: absolute;
    top: 0;
    left: 0;

    font-size: 1.4rem;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;

    overflow: hidden;

    display: flex;
    justify-content: center;
    pointer-events: none
}

#notification-bar > .container-width{
    height: 100%;
}

.notif-item{
    width: 100%;
    background-color: var(--secondaryBg);
    height: 100%;

    border-radius: 10px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--baseFontColor);

    padding: 5px 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 50px 1fr 40px;

    pointer-events: all;
}
.notif-item > :first-child{
    font-size: 3.2rem;
}
.notif-item > :last-child{
    font-size: 2rem;
    cursor: pointer;
}

.notif-item > :first-child, .notif-item > :last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.notif-error{
    background-color: var(--notifError) !important;
}
.notif-success{
    background-color: var(--notifSuccess) !important;
}

#overlay{
    position: absolute;
    top:0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--overlayBg);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;

    backdrop-filter: blur(3px);
}

#overlay > .caption{
    font-size: 1.6rem;
    font-style: italic;
}

header, nav{
    width: 100vw;
    box-sizing: border-box;
}

/* HEADER */
header{
    height: var(--headerHei);
}
#header-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* NAV */
nav{
    height: var(--navhei);
    border-bottom: solid 2px var(--navBottomLine);
}

#nav-buttons{
    width:100%;
    height: calc(100% - var(--navIndicatorHei));
    display: flex;
}
#nav-buttons > * {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

#nav-buttons > .active{
    color: var(--baseHighlightColor);
}

#nav-highlight{
    width:100%;
    height: var(--navIndicatorHei);
    position: relative;
    overflow: hidden;
}
#nav-indicator{
    height:100%;
    background-color: var(--navIndicatorHighlight);
    position: absolute;
    transition: all 0.3s ease-out;
}


/* MAIN */
main{
    display: flex;
    flex-wrap: nowrap;
    min-height: 200px;
    height: var(--mainHei);
    width: 100vw;

    overflow-x:auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    -webkit-overflow-scrolling: touch;

    padding-top: 15px;
    box-sizing: border-box;
}

main::-webkit-scrollbar {
    display: none;
}
main > section{
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-snap-align: start;
}


/* CLASSES */
.flex-center{
    display: flex;
    justify-content: center;
    padding: 0 4px;
    box-sizing: border-box;
}
.container-width{
    min-width: 320px;
    width: 100%;
    max-width: 800px;
}

