/* BUTTONS */
button {
    font-family: inherit;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
}

/* NOTIFICATIONS */
.notif-item{
    animation: animNotif 5s forwards;
}

@keyframes animNotif {
    0%   {opacity: 0;}
    10%  {opacity: 1;}
    60%  {opacity: 1;}
    100% {opacity: 0;}
}


/* LOADER */
.loader {
    border: 10px solid var(--loaderBg);
    border-top: 10px solid var(--loaderHighlight);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Day/Night button */
#header-nav > input[type="checkbox"]{
    -webkit-appearance: none;
}
#toggle_daynight{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: grey;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}
#toggle_daynight::after{
    content:'';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 2px;
    background-color: var(--mainBg);
    border-radius: 50%;
    transition: 0.1s ease-in;
}

#toggle_daynight:checked::after{
    transform: translateX(20px);
    background-color: var(--mainBg);
}